<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.esm.flexible">

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <!-- Use a hardcoded label string on the service
        to keep the name of the original plugin if added as a library to another -->
        <service
            android:name="com.aware.plugin.esm.flexible.Plugin"
            android:exported="true"
            android:label="AWARE: ESM Flexible" />

        <activity
            android:name="com.aware.plugin.esm.flexible.Settings"
            android:label="AWARE: ESM Flexible"
            android:exported="true" />

    </application>
</manifest>
